:root {
  --blue: #0072b1    ;
  --dark_blue: #367588;
  --cyan: #47b5ff;
  --light_blue: #dff6ff;
  --orange: #FFB155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: #2416f3;
}

/* Login page */
.lgn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  border-radius: 10px;
  background-color: white;
  padding: 4%;
  width: 25%;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.2);
}
.box-container h1 {
  padding-bottom: 10%;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}
.input {
  padding: 4%;
  border-radius: 5%;
  border: 1px solid gray;
}
.forget-password {
  font-weight: bold;
  font-size: small;
}
.btn-container {
  border-radius: 25px;
  background-color: var(--blue);
  color: white;
  font-weight: 300;
  width: 100%;
  padding: 3%;
  border: 2px solid var(--blue);
}
.btn-container:hover {
  background-color: #0077d8 ;
  border-radius: 15px;
}
.register-link {
  font-size: small;
}

/* not-found */
.not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}

/* Search page */
/* Header */
.logo {
  width: 80px;
  cursor: pointer;
  animation: colorTransition 2s ease infinite alternate;
}
@keyframes colorTransition {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(100deg);
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  padding-bottom: 1%;
  background-color: var(--light_blue);
}

.header-container .title {
  padding-top: 1.3%;
  font-size: large;
}

/* login and register button */
.header-container .lgn-reg {
  display: flex;
  flex-direction: row;
  padding-right: 2.5%;
}
.btn {
  color: var(--light_blue);
  background-color: var(--cyan);
  margin: 2%;
  padding: 5%;
  margin-top: 25%;
  font-size: medium;
  border-radius: 10px;
  font-size: 15px;
  height: 40%;
  cursor: pointer;
}
.login:hover {
  color: black;
  background-color: var(--orange);
}
.register:hover {
  color: var(--light_blue);
  background-color: var(--dark_blue);
}
.login:active,
.register:active {
  border: 0px;
}

/* Search */
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 30px;
  margin-bottom: 30px;
}
.search {
  width: 900px;
}

/* Search input */
.searchBar {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  padding-left: 20%;
}
.searchInput {
  width: 50%;
  padding: 10px;
  border-radius: 10%;
  text-align: center;
  margin-top: 1%;
  background-image: url('../src/components/images/search.png');
  background-position: 10px 12px;
  background-position: left ;
  background-repeat: no-repeat;
  background-size: 50px 50px; /* adjust the size of the icon */
}

/* dropdown */
.dropbtn {
  background-color: var(--dark_blue);
  color: white;
  padding: 0.5%;
  font-size: 12px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-right: 1%;
  width: 100px;
  height: 35px;
  margin-top: 12%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content p {
  padding: 10px 10px 10px;
}
.dropdown-content p:hover {
  background-color: var(--dark_blue);
  color: var(--orange);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: var(--orange);
}

/* Card */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1%;
  min-height: 52vh;
  padding-bottom: 4%;
}
.card-container {
  border-radius: 10px;
  margin: 3%;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.card-container:hover {
  box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}
.card-image {
  border-radius: 10px;
  height: 90%;
  width: 80%;
  padding-right: 5%;
  cursor: pointer;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px 16px ;
  margin-bottom: 3%;
  margin-left: 7%;
}
/* buttons in the card */
.card-buttons {
  display: flex;
  flex-direction: row;
  padding-left: 13%;
  padding-bottom: 5%;
}
.love-block {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-top: 25px;
}
.messagebtn {
  margin-left: 4px;
  padding-top: 0px;
}
.sendbtn {
  height: 60%;
}
.sendbtn:hover{
  color: var(--light_blue);
  background-color: var(--dark_blue);
} 
.love-card {
  width: 40px;
  height: 40px;
  filter: saturate(0.2) brightness(3);
  margin-top: 10%;
  cursor: pointer;
}
.love-card:hover {
  filter: hue-rotate(500deg);
}
.block {
  background-color: black;
  color: white;
  width: 46px;
  height: 40px;
  margin-top: 10%;
}
.block:hover {
  background-color: whitesmoke;
  color: black;
}

/* Message Page */
/* Chat */
.formText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding: 10px;
  padding-bottom: 1.5%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.inputText {
  width: 50%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #030303;
  text-align: center;
}
.sendButton {
  width: 100%;
  height: 20px;
  padding: 2px;
  border-radius: 100%;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--orange);
}
.sendButton:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  color: #030303;
}
.send {
  margin-left: 10px;
}

/* Chat Text */
.chatBoxContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.message {
  background-color: var(--blue);
  color: white;
  padding: 3px 6px;
  border-radius: 20px;
  margin-left: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.message:hover {
  background-color: #91b5dd;
  color: black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}
.message ul .name{
  color: black;
  font-size: 13px;
}
.targetName {
  color: rgb(4, 4, 85);
}
.message ul {
  list-style: none;
}
.message ul .sendMessage {
  font-size: large;
}
/* Chat Box */
.ChatBox {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 50%;
  height: 60vh;
  background-color: lightgrey;
  border: 15px solid var(--dark_blue);
  padding: 50px;
  margin: 20px;
  margin-left: 24%;
  margin-right: 20%;
  overflow: scroll;
}
